html {
	background-color: #F0F0F0;
}

.banner {
	overflow: hidden;
    height: 1.8rem;
}

.banner-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner-info {
	box-sizing: border-box;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 3.5rem;
	padding: 0.25rem 0.13rem 0.21rem;
	background-color: #fff;
}

.banner-info-title {
	font-size: 0.2rem;
	font-family: Source Han Sans CN;
	font-weight: bold;
	text-align: center;
	color: #262626;
}

.banner-info-date {
	margin-top: 0.15rem;
	padding-bottom: 0.2rem;
	border-bottom: 1px solid #ccc;
	font-size: 0.13rem;
	font-family: Source Han Sans CN;
	font-weight: 400;
	text-align: center;
	color: #999;
}

.content {
	overflow: hidden;
	padding: 0 0.18rem;
	background-color: #fff;
	font-size: 0;
}

.content-text {
	margin-bottom: 0.2rem;
	font-size: 0.14rem;
	font-family: Source Han Sans CN;
	font-weight: 400;
	line-height: 0.24rem;
	text-indent: 0.24rem;
	color: #262626;
}

.content-img {
	margin-bottom: 0.2rem;
	width: 100%;
}

.link {
	padding-top: 0.15rem;
	padding-bottom: 0.35rem;
}

.link-item {
	padding: 0 0.13rem;
	height: 0.3rem;
	background-color: #F0F0F0;
	border-radius: 0.15rem;
	font-size: 0.14rem;
	font-family: Source Han Sans CN;
	font-weight: 400;
	line-height: 0.3rem;
	color: #666;
}

.link a:nth-child(n + 2) .link-item {
	margin-top: 0.15rem;
}

.link-item-icon {
	margin-right: 0.1rem;
	width: 0.15rem;
	height: 0.15rem;
}

/* 新闻资讯 */
.consulting {
	margin-top: 0.1rem;
	padding: 0.25rem 0.13rem 0.5rem;
	background-color: #fff;

}

.consulting-title {
	font-size: 0.2rem;
	font-family: Source Han Sans CN;
	font-weight: 700;
	color: #262626;
}

.consulting-text {
	font-size: 0.13rem;
	font-family: Source Han Sans CN;
	font-weight: 400;
	color: #999;
}

.consulting-list-item {
    display: flex;
    align-items: center;
    padding-top: 0.2rem;
    padding-bottom: 0.15rem;
    border-bottom: 1px solid #E6E6E6;
}

.consulting-list-itemImg {
    width: 1.2rem;
    height: 1rem;
    object-fit: cover;
}

.consulting-list-itemInfo {
    margin-left: 0.13rem;
}

.consulting-list-itemTitle {
    font-size: 0.15rem;
    font-family: Source Han Sans CN;
    font-weight: 700;
    color: #262626;
}

.consulting-list-itemText {
    margin-top: 0.06rem;
    height: 0.4rem;
    font-size: 0.12rem;
    font-family: Source Han Sans CN;
    font-weight: 400;
    line-height: 0.21rem;
    color: #999;
}

.consulting-list-itemDate {
    margin-top: 0.14rem;
    font-size: 12px;
    font-family: Source Han Sans CN;
    font-weight: 400;
    color: #999;
}