.banner-container {
    height: 3.93rem;
}

.banner-item-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner-container .banner-pagination {
    bottom: 0.15rem;
}

.banner-container .banner-pagination .swiper-pagination-bullet {
    width: 0.14rem;
    height: 0.14rem;
    background-color: #fff;
    opacity: 0.5;
}

.banner-container .banner-pagination .swiper-pagination-bullet-active {
    background-color: #fff;
    opacity: 1;
}

/* 介绍 */
.intro {
    padding: 0.35rem 0.13rem 0.58rem;
    background-image: url('../imgs/750-1250_bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.intro-nav {
    overflow: hidden;
    margin-top: 0.25rem;
}

.intro-nav-item {
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.1rem;
    height: 0.5rem;
    background-image: url('../imgs/220-100.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-size: 0.15rem;
    font-family: Source Han Sans CN;
    font-weight: bold;
    line-height: 0.26rem;
    color: #262626;
}

.intro-nav-item:nth-child(n +2) {
    margin-left: 0.09rem;
}

.intro-nav-itemIcon {
    margin-right: 0.08rem;
    width: 0.18rem;
    height: 0.18rem;
}

.intro-nav-item_active {
    background-image: url('../imgs/220-100_active.jpg');
    color: #fff;
}

.intro-content {
    margin-top: 0.25rem;
    font-size: 0.12rem;
    font-family: Source Han Sans CN;
    font-weight: 400;
    line-height: 0.24rem;
    color: #262626;
}

.intro-content img {
    display: block;
    margin-top: 0.25rem;
    width: 100%;
}

/* 特色 */
.specialty-header {
    box-sizing: border-box;
    padding: 0.35rem 0.13rem;
    height: 2.5rem;
    background-image: url('../imgs/750-500_bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.specialty-header .specialty-titleBox .c-module-title {
    color: #fff;
}

.specialty-slogan {
    text-align: right;
    font-size: 0;
}

.specialty-slogan, 
.specialty-slogan-title a {
    color: #fff;
}

.specialty-slogan-title {
    font-size: 0.13rem;
    font-family: Source Han Sans CN;
    font-weight: bold;
}

.specialty-slogan-rightArrow {
    margin-left: 0.1rem;
    width: 0.15rem;
    height: 0.15rem;
}

.specialty-slogan-text {
    margin-top: 0.18rem;
    font-size: 0.12rem;
    font-family: Source Han Sans CN;
    font-weight: 400;
}

.specialty-nav {
    margin-top: 0.3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.specialty-nav-item {
    width: 0.8rem;
    height: 0.3rem;
    font-size: 0.13rem;
    font-family: Source Han Sans CN;
    font-weight: 400;
    text-align: center;
    line-height: 0.3rem;
    color: #fff;
}

.specialty-nav-item_active {
    background-color: #fff;
    color: #B91B23;
}

.specialty-swiper {
    margin: -0.75rem 0.13rem 0;
    height: 4.7rem;
}

.specialty-swiper-slideImg {
    width: 100%;
    height: 2.5rem;
    object-fit: cover;
}

.specialty-swiper-slideInfo {
    padding: 0.2rem 0.13rem 0.23rem;
    background-image: url(../imgs/700-300.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;
}

.specialty-swiper-slideTitle {
    padding-bottom: 0.12rem;
    border-bottom: 1px solid #fff;
    font-size: 0.18rem;
    font-family: Source Han Sans CN;
    font-weight: bold;
}

.specialty-swiper-slideText {
    margin-top: 0.12rem;
    font-size: 0.12rem;
    font-family: Source Han Sans CN;
    font-weight: 400;
    line-height: 0.11rem;
}

.specialty-swiper-slideText img {
    margin-left: 0.05rem;
    width: 0.12rem;
    width: 0.12rem;
}

.specialty-pagination {
    bottom: 0.35rem !important;
}

.specialty-swiper-sildeText:nth-child(2) {
    margin-top: 0.15rem;
}

.specialty-pagination .swiper-pagination-bullet {
    width: 0.1rem;
    height: 0.1rem;
}

.specialty-pagination .swiper-pagination-bullet-active{
    background-color: #DA3021;
}


/* 餐品链 */
.product-chain {
    overflow: hidden;
    background-color: #B91B23;
}

.product-chani-img {
    display: block;
    width: 100%;
}

.product-chain-item {
    margin: 0.15rem 0.13rem 0;
    box-sizing: border-box;
    padding: 0.28rem 0.25rem;
    min-height: 3.35rem;
    background-color: #fff;
    text-align: center;
    font-size: 0;
}

.product-chain-item:first-of-type {
    margin-top: 0;
}

.product-chain-item:last-child {
    margin-bottom: 0.4rem;
}

.product-chain-itemImg {
    width: 0.8rem;
    height: 0.8rem;
}

.product-chain-itemTitle {
    position: relative;
    margin-top: 0.25rem;
    padding-bottom: 0.15rem;
    font-size: 0.18rem;
    font-family: Source Han Sans CN;
    font-weight: bold;
    text-align: center;
    color: #262626;
}

.product-chain-itemTitle::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    width: 0.5rem;
    height: 0.02rem;
    background-color: #262626;
}

.product-chain-itemText {
    margin-top: 0.15rem;
    font-size: 0.12rem;
    font-family: Source Han Sans CN;
    font-weight: 400;
    line-height: 0.22rem;
    color: #262626;
}

/* 咨询 */
.consulting {
    padding: 0.35rem 0.13rem;
}

.consulting-nav,
.join-in-nav {
    overflow: hidden;
    margin-top: 0.25rem;
}

.consulting-nav-item,
.join-in-navItem {
    float: left;
    width: 0.8rem;
    height: 0.35rem;
    background-color: #E6E6E6;
    font-size: 0.13rem;
    font-family: Source Han Sans CN;
    font-weight: 400;
    line-height: 0.35rem;
    text-align: center;
    color: #262626;
}

.consulting-nav-item:nth-child(n + 2),
.join-in-navItem:nth-child(n + 2) {
    margin-left: 0.09rem;
}

.consulting-nav-item_active,
.join-in-nav .join-in-navItem_active {
    background-color: #B91B23;
    color: #fff;
}

.consulting-list {
    overflow: hidden;
}

.consulting-list-item {
    display: flex;
    align-items: center;
    padding-top: 0.2rem;
    padding-bottom: 0.15rem;
    border-bottom: 1px solid #E6E6E6;
}

.consulting-list-itemImg {
    width: 1.2rem;
    height: 1rem;
    object-fit: cover;
}

.consulting-list-itemInfo {
    margin-left: 0.13rem;
}

.consulting-list-itemTitle {
    font-size: 0.15rem;
    font-family: Source Han Sans CN;
    font-weight: 700;
    color: #262626;
}

.consulting-list-itemText {
    margin-top: 0.06rem;
    height: 0.4rem;
    font-size: 0.12rem;
    font-family: Source Han Sans CN;
    font-weight: 400;
    line-height: 0.21rem;
    color: #999;
}

.consulting-list-itemDate {
    margin-top: 0.14rem;
    font-size: 12px;
    font-family: Source Han Sans CN;
    font-weight: 400;
    color: #999;
}

.consulting-list-btn {
    margin-top: 0.35rem;
}

.join-in {
    overflow: hidden;
    background-image: url(../imgs/750-1720.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.join-in-header {
    margin-top: 0.35rem;
    padding: 0 0.13rem;
}

.join-in-nav {
    margin-left: 0.13rem;
}

.join-in-navItem {
    background-color: #fff;
}

.join-in-list {
    margin-top: 0.14rem;
    padding: 0.41rem 0.36rem;
    background-image: url(../imgs/700-1120.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}

.join-in-listItem {
    margin-bottom: 0.25rem;
}

.join-in-listItem:last-child {
    margin-bottom: 0;
}

.join-in-listItemTitle {
    font-size: 0.14rem;
    font-family: Source Han Sans CN;
    font-weight: bold;
    line-height: 0.24rem;
    color: #262626;
}

.join-in-listItemTitle span {
    font-size: 0.11rem;
    font-weight: 400;
}

.join-in-listItemText {
    margin-top: 0.15rem;
    font-size: 0.11rem;
    font-family: Source Han Sans CN;
    font-weight: 400;
    line-height: 0.2rem;
    color: #404040;
}

.join-in-listBtn {
    display: block;
    margin: 0.24rem auto 0.5rem;
    width: 3.4rem;
}